<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blue Fox Restaurant</title>
        <link rel="stylesheet" href="/CSS/homepage.css">
    </head>
    <body>
        <div id="top-div">
            <img src="/images/blue-fox.png" alt="logo">
            <h1>Welcome to Blue Fox Restaurant</h1>
            <h3>Unleash your appetite with Blue Fox</h3>
        </div>
        <div id="from-div">
            <table align="center" cellspacing="25px">
                <tr>
                    <td>
                        <form action="/login" method="post">
                            <input type="email" name="userEmail" placeholder="E-mail">
                            <br><br>
                            <input type="password" name="userPassword" placeholder="Password">
                            <br><br>
                            <button class="button-15" type="submit">Login</button>
                        </form>
                    </td>
                    <td>
                        <form action="/signup" method="post">
                            <input type="text" name="newName" placeholder="Name">
                            <br><br>
                            <input type="email" name="newEmail" placeholder="E-mail">
                            <br><br>
                            <input type="password" name="newPassword" placeholder="Password">
                            <br><br>
                            <textarea name="newAddress" cols="30" rows="10" placeholder="Address"></textarea>
                            <br><br>
                            <button class="button-15" type="submit">Signup</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div id="middle-div">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br>
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>
                laboris a nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <br>
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br>
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
            </p>
            <img src="/images/1.png" class="food">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum <br>
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non <br>
                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum <br>
                fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis <br>
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis <br>
                voluptas assumenda est, omnis dolor repellendus. 
            </p>
            <img src="/images/2.png" class="food">
        </div>
    </body>
</html>