<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blue Fox Restaurant</title>
        <link rel="stylesheet" href="/CSS/homepage.css">
    </head>
    <body>
        <div id="top-div">
            <img src="/images/blue-fox.png" alt="logo">
            <h1>Welcome to Blue Fox Restaurant</h1>
            <h3>Unleash your appetite with Blue Fox</h3>
        </div>
        <div id="middle-div">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br>
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>
                laboris a nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <br>
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br>
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
            </p>
            <img src="/images/1.png" class="food">
        </div>
    </body>
</html>
