
<!DOCTYPE html>
<h0tml>
    <head>
        <meta charset="UTF-8">
        <title><%= NAME %> dashboard</title>
    </head>
    <body>
        <h1>Welcome <%= NAME %></h1>
        <h3>Blue Fox Restaurant</h3>
        <img src="https://drive.google.com/uc?id=1CmBfVVKNUTN4s1jHuSGlOGl_uQ1aKpp-" alt="">
    </body>
</html>