
<!DOCTYPE html>
<h0tml>
    <head>
        <meta charset="UTF-8">
        <title><%= NAME %> dashboard</title>
    </head>
    <body>
        <h1>Welcome <%= NAME %></h1>
        <h3>Blue Fox Restaurant</h3>
        <img src="https://mega.nz/file/BJwSzT6Q#0ATzlkcLvhW00YeY3e2MvEjFOOByrF2ea4lVPNnG2bU" alt="apple-pie">
    </body>
</html>